p {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: .8rem;
}

p.robot {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 2em;
  color: #d53645;
}

.go-toggle button {
  border: 1px solid #ced4da !important;
}

.input-fields{
  background-color: #f8f8f8;
  padding: 35px 20px 20px;
  margin-bottom: 20px;
}

.one-line-btn {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.one-line p {
  display: inline;
}

.one-line p:after {
  text-decoration: dotted;
  content: ", "
}

.one-line p:last-child:after {
  content: ""
}

#order-toggle {
  margin-bottom: 0px;
  padding-left: 2em;
}

#one-line-btn {
  display: none;
}
