body {
  margin-top: 30px;
}

p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: .8rem;
}

p.robot {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 2em;
  color: #a51624;
}

p.dave-msg {
  text-shadow: 2px 2px 3px black;
  color: #d53645;
}

.input-fields span {
  line-height: 2.3em;
}

#order-toggle {
  margin-bottom: 0px;
  padding-left: 2em;
}
